version: "3.9"

services:
  nextjs:
    image: unsecure-cashflow-fe-app
    container_name: unsecure-cashflow-fe-prod
    ports:
      - "${APP_PORT:-3001}:3001"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: 1
    restart: unless-stopped
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
